<section class="phx-hero">
  <h1>Tetris<h1>
  <h2>GAME OVER</h2>
  <h3><b>Score: <%= @score %> points</b></h3>
  <button phx-click="play">New Game</button>
  <div>
    <%# render_board(assigns) %>
    <%# render_debug_info(assigns) %>
  </div>
</section>
