<section class="phx-hero">
  <h1>Wecome to Tetris<h1>
  <h2>Stack 'em up!</h2>
  <h3><b>Score: <%= @game.score %> points</b></h3>
  <div phx-window-keydown="keystroke">
    <%= render_board(assigns) %>
    <%= render_debug_info(assigns) %>
  </div>
</section>
