<section class="phx-hero">
  <h1>Welcome to Tetris<h1>
  <h2>Stack 'em up!</h2>
  <button phx-click="play">Play Game</button>
  <div phx-window-keydown="keystroke">
    <%= render_board(assigns) %>
    <%= render_debug_info(assigns) %>
  </div>
</section>
